In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set() # set the default Seaborn style for graphics

In [2]:
movieData = pd.read_csv('Final-CLEAN-Dataset.csv')
movieData.head()

,ID,Title,Decade,Age,IMDb,Rotten,Availability Score,Directors,Genres,Country,Language,Runtime
0,1,Inception,2010s,13+,8.8,87,1,Christopher Nolan,Action,United States,English,148
1,2,The Matrix,1990s,18+,8.7,87,1,Lana Wachowski,Action,United States,English,136
2,3,Avengers: Infinity War,2010s,13+,8.5,84,1,Anthony Russo,Action,United States,English,149
3,4,Back to the Future,1980s,7+,8.5,96,1,Robert Zemeckis,Adventure,United States,English,116
4,5,"The Good, the Bad and the Ugly",1960s,18+,8.8,97,2,Sergio Leone,Western,Italy,Italian,161

In [3]:
movieData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5556 entries, 0 to 5555
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5556 non-null   int64
 1   Title               5556 non-null   object
 2   Decade              5556 non-null   object
 3   Age                 5556 non-null   object
 4   IMDb                5556 non-null   float64
 5   Rotten              5556 non-null   int64
 6   Availability Score  5556 non-null   int64
 7   Directors           5556 non-null   object
 8   Genres              5556 non-null   object
 9   Country             5556 non-null   object
 10  Language            5556 non-null   object
 11  Runtime             5556 non-null   int64
dtypes: float64(1), int64(4), object(7)
memory usage: 521.0+ KB