In [7]:
import numpy as np
import pandas as pd

# Data Extraction

In [8]:
MCData = pd.read_csv('Moviescombined.csv')
MCData.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87.0,1,0,0,0,0,Christopher Nolan,Action,United States,English,148.0
1,1,2,The Matrix,1999,18+,8.7,87.0,1,0,0,0,0,Lana Wachowski,Action,United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84.0,1,0,0,0,0,Anthony Russo,Action,United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96.0,1,0,0,0,0,Robert Zemeckis,Adventure,United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97.0,1,0,1,0,0,Sergio Leone,Western,Italy,Italian,161.0

In [9]:
MCData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20983 entries, 0 to 20982
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   20983 non-null  int64
 1   ID           20983 non-null  int64
 2   Title        20983 non-null  object
 3   Year         20983 non-null  int64
 4   Age          9739 non-null   object
 5   IMDb         20296 non-null  float64
 6   Rotten       20979 non-null  float64
 7   Netflix      20983 non-null  int64
 8   Hulu         20983 non-null  int64
 9   Prime Video  20983 non-null  int64
 10  Disney+      20983 non-null  int64
 11  Type         20983 non-null  int64
 12  Directors    20039 non-null  object
 13  Genres       20639 non-null  object
 14  Country      20419 non-null  object
 15  Language     20224 non-null  object
 16  Runtime      20217 non-null  float64
dtypes: float64(3), int64(8), object(6)
memory usage: 2.7+ MB

# Data Cleaning

In [10]:
df1 = MCData.copy()
df1 = df1.dropna()
df1.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87.0,1,0,0,0,0,Christopher Nolan,Action,United States,English,148.0
1,1,2,The Matrix,1999,18+,8.7,87.0,1,0,0,0,0,Lana Wachowski,Action,United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84.0,1,0,0,0,0,Anthony Russo,Action,United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96.0,1,0,0,0,0,Robert Zemeckis,Adventure,United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97.0,1,0,1,0,0,Sergio Leone,Western,Italy,Italian,161.0

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9301 entries, 0 to 20965
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   9301 non-null   int64
 1   ID           9301 non-null   int64
 2   Title        9301 non-null   object
 3   Year         9301 non-null   int64
 4   Age          9301 non-null   object
 5   IMDb         9301 non-null   float64
 6   Rotten       9301 non-null   float64
 7   Netflix      9301 non-null   int64
 8   Hulu         9301 non-null   int64
 9   Prime Video  9301 non-null   int64
 10  Disney+      9301 non-null   int64
 11  Type         9301 non-null   int64
 12  Directors    9301 non-null   object
 13  Genres       9301 non-null   object
 14  Country      9301 non-null   object
 15  Language     9301 non-null   object
 16  Runtime      9301 non-null   float64
dtypes: float64(3), int64(8), object(6)
memory usage: 1.3+ MB